/* Header Styles */
header {
  background-color: var(--primary-color);
  color: var(--bg-color);
  padding: 20px;
}

.header-content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  grid-column-gap: 20px; 
}

.logo img {
  max-width: 150px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: var(--bg-color);
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.history-section,
.adventures-section {
  margin: 40px 0;
}

/* Footer Styles */
footer {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  text-align: center;
  padding: 20px;
}

.sociallinks {
  margin-top: 10px;
}

.sociallinks a {
  margin-right: 15px; 
}

.sociallinks a img {
  width: 30px;
  height: 30px;
}
