/* Header Styles */
header {
  background-color: var(--primary-color);
  color: var(--bg-color);
  padding: 20px;
}

.header-content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  grid-column-gap: 20px; 
}

.logo img {
  max-width: 150px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: var(--bg-color);
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.history-section,
.adventures-section {
  margin: 40px 0;
}


footer {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  text-align: center;
  padding: 20px;
}

.sociallinks {
  margin-top: 10px;
}

.sociallinks a {
  margin-right: 15px; 
}

.sociallinks a img {
  width: 30px;
  height: 30px;
}

.employee-profiles {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.employee {
  text-align: center;
  width: 30%;
}

.employee img {
  width: 100%;
  border-radius: 50%;
}

/* User Comment Form */
.user-comment-form {
  margin: 50px auto;
  width: 60%;
}

.user-comment-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-comment-form input[type="text"],
.user-comment-form input[type="email"],
.user-comment-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-comment-form input[type="checkbox"] {
  margin-right: 5px;
}

.user-comment-form .submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.user-comment-form .submit-button:hover {
  background-color: #0056b3;
}
