#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    height: 725px;
}

body {
    background-color: #fcfbfb;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none; /* Combine the text-decoration property with the nav a selector */
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
}